.go_back_button {
  font-family: 'Merriweather Light';
  border-radius: 4px;
  transition: 0.3s;
  border: none;
  margin: 3vh;
  padding: 1vh 2vh;
  font-size: 2.35vh;
  background-color: #616161;
  color: #fcfcfc;
}

.go_back_button:hover {
  background-color: #251e1f;
  cursor: pointer;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .go_back_button {
    font-size: 1em;
    padding: 10px 20px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .go_back_button {
    font-size: 0.9em;
    padding: 10px 15px;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .go_back_button {
    font-size: 1.3em;
    padding: 10px 15px;
  }
}

@media only screen and (min-width: 1224px) {
  .go_back_button {
    font-size: 1.4em;
    padding: 15px 20px;
  }
}
