.secondary_button {
  font-family: 'Lato Regular';
  transition: 0.3s;
  word-spacing: 3px;
  border-radius: 3px;
  border: none;
  font-size: 2.35vh;
  background-color: #251e1f;
  color: #e5e5e5;
}

.secondary_button:hover {
  background-color: #616161;
  cursor: pointer;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .secondary_button {
    font-size: 0.9em;
    padding: 1.5vh 2.5vh;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .secondary_button {
    font-size: 0.9em;
    padding: 10px 15px;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .secondary_button {
    font-size: 1.2em;
    padding: 1.5vh 2.5vh;
  }
}

@media only screen and (min-width: 1224px) {
  .secondary_button {
    font-size: 1.4em;
    padding: 15px 20px;
  }
}
