@import '../../variables.css';

.finder_content {
  text-align: center;
}

.finder_text {
  text-align: center;
  font-family: 'Plantin Bold';
}

.finder_form {
  position: static;
  margin: auto;
}

.finder_form_fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.buttons {
  display: flex;
  flex-direction: row;
  position: static;
  justify-content: space-evenly;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .finder_content {
    position: static;
    margin: 40px 0 0 0;
  }

  .finder_text {
    margin: 0% 10% 0 10%;
    font-size: 1.5em;
  }

  .finder_form {
    margin-top: 6vh;
  }

  .finder_form_fields {
    margin-bottom: 8vh;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .finder_content {
    position: static;
    width: 55%;
    margin: 0 0 0 45%;
  }

  .finder_text {
    margin: 12% 0 0 0;
    font-size: 1.4em;
  }

  .finder_form {
    margin: 4% 0 0 0;
  }

  .finder_form_fields {
    margin-bottom: 0;
  }

  .buttons {
    margin-top: 8vh;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .finder_content {
    width: 60%;
    position: static;
    margin: 14% 0 0 40%;
  }

  .finder_text {
    position: static;
    width: 85%;
    margin: auto;
    font-size: 2.3em;
  }

  .finder_form {
    margin-top: 10vh;
  }

  .buttons {
    margin: 5vh auto;
    width: 90%;
  }
}

@media only screen and (min-width: 1224px) {
  .finder_content {
    width: 60%;
    position: static;
    margin: 5% 0 0 40%;
  }

  .finder_text {
    position: static;
    margin: auto;
    width: 85%;
    font-size: 2.3em;
  }

  .finder_form {
    margin-top: 7vh;
    margin-right: 3%;
  }

  .finder_form_fields {
    margin-bottom: 50px;
  }

  .buttons {
    justify-content: space-evenly;
    width: 60%;
  }
}
