.prompt {
  color: #f0e5ee;
  font-size: 0.8em;
  font-family: "Lato Regular";
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .prompt {
  font-size: 1.1em;
  }
}

@media only screen and (min-width: 1224px) {
  .prompt {
    font-size: 1.3em;
  }
}
