@import '../../../components/variables.css';

.result_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.results_message {
  font-family: "Lato Regular", sans-serif;
  color: #858585;
  text-align: center;
}

.list_item {
  font-family: "Lato Regular", sans-serif;
  flex: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
}

.cocktail_image {
  object-fit: cover;
}

.result_text {
  display: flex;
  flex-direction: column;
}

.cocktail_name {
  font-family: "Lato Regular", sans-serif;
  text-align: center;
  color: white;
}

.ingredients {
  color: #595959;
  text-align: center;
}

.sale_options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  color: #d6d6d6;
}

.order_link {
  text-align: center;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .result_list {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .results_message {
    width: 90%;
    font-size: 12px;
  }

  .list_item {
    margin: 8px 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .cocktail_image {
    width: 45vw;
    height: 15vh;
  }

  .result_text {
    width: 40%;
  }

  .cocktail_name {
    font-size: 14px;
    width: 100%;
    padding-bottom: 3px;
  }

  .ingredients {
    font-size: 8px;
    padding-bottom: 12px;
  }

  .sale_options {
    padding-bottom: 10px;
    height: 50%;
  }

  .order_link {
    font-size: 10px;
  }

  .availability {
    font-size: 8px;
    text-align: center;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .result_list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
  }

  .results_message {
    width: 90%;
    font-size: 12px;
  }

  .list_item {
    justify-content: space-evenly;
    margin: 10px 0;
    width: 45%;
  }

  .cocktail_image {
    width: 15vw;
    height: 17vh;
  }

  .cocktail_name {
    font-size: 1.5em;
    width: 100%;
    padding: 0 0 3px 0;
  }

  .ingredients {
    font-size: 8px;
  }

  .sale_options {
    height: 50%;
  }

  .order_link {
    font-size: 10px;
  }

  .availability {
    font-size: 8px;
    text-align: center;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .result_list {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
  }

  .results_message {
    font-size: 16px;
    font-family: "Lato Light", sans-serif;
    width: 70%;
  }

  .list_item {
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9em;
    width: 100%;
    margin: 14px 0;
  }

  .cocktail_image {
    width: 225px;
    height: 150px;
  }

  .result_text {
    width: 45%;
  }

  .cocktail_name {
    font-size: 20px;
    font-family: "Lato Regular", sans-serif;
    width: 100%;
    padding: 0 0 2px 0;
  }

  .ingredients {
    font-size: 12px;
    color: #696969;
    text-align: center;
  }

  .sale_options {
    margin: 14px 0;
    font-size: 14px;
  }

  .order_link {
    font-size: 14px;
    text-align: center;
  }

  .availability {
    font-size: 11px;
    font-family: "Lato Light", sans-serif;
    text-align: center;
  }
}

@media only screen and (min-width: 1224px) {
  .result_list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
  }

  .list_item {
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    width: 450px;
    margin: 14px 0;
  }

  .cocktail_image {
    width: 250px;
    height: 150px;
  }

  .cocktail_name {
    font-size: 18px;
    width: 100%;
    padding: 0 0 8px 0;
  }

  .ingredients {
    font-size: 10px;
    text-align: center;
  }

  .sale_options {
    margin: 10px 0;
    font-size: 14px;
  }

  .order_link {
    font-size: 0.8em;
    text-align: center;
  }

  .availability {
    font-size: 0.7em;
    text-align: center;
  }
}
