@import '../../../components/variables.css';

.no_crash {
  width: 100%;
}

.active, .inactive {
  transition: 0.25s;
  width: 100%;
  margin: auto;
}

.list_item, .list_item_open {
  font-family: 'Lato Regular', sans-serif;
  flex: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
}

.cocktail_image {
  object-fit: cover;
}

.availability,
.vendor_name {
  color: #b9b9b9;
  text-align: center;
}

.availability {
  color: #53874c;
  font-family: "Lato Light", sans-serif;
}

.order {
  border: solid #434343 1px;
  color: #b9b9b9;
  background-color: #251e1f;
  border-radius: 4px;
  margin: 10px auto 0 auto;
  padding: 8px 5px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  font-family: 'Lato Regular', sans-serif;
}

.order:hover {
  background-color: #25191b;
  color: white;
}

.result_text {
  display: flex;
  flex-direction: column;
}

.cocktail_name {
  font-family: 'Lato Regular', sans-serif;
  text-align: center;
}

.price {
  color: #b9b9b9;
  text-align: center;
}

.ingredients, .description {
  color: #919191;
  text-align: center;
  font-family: 'Lato Light', sans-serif;
}

.expand {
  font-family: "Lato Regular", sans-serif;
  text-align: center;
  color: #e1e1e1;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .active, .inactive {
    padding: 12px 0;
  }

  .active {
    background-color: #191919;
  }

  .list_item, .list_item_open {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 0 8px 0;
  }

  .list_item_open {
    align-items: flex-start;
  }

  .cocktail_image {
    width: 160px;
    height: 90px;
    padding: 0 0 2px 0;
  }

  .vendor_name {
    font-size: 12px;
  }

  .availability {
    font-size: 10px;
  }

  .order {
    font-size: 10px;
    width: 80%;
  }

  .result_text {
    width: 48%;
    min-height: 115px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 0;
  }

  .cocktail_name {
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 0;
    color: #e1e1e1;
  }

  .price {
    font-size: 10.5px;
    padding: 0 0 6px 0;
  }

  .ingredients {
    font-size: 11.5px;
    padding: 0 0 4px 0;
  }

  .description {
    font-size: 11.5px;
    width: 100%;
    padding: 10px 0 6px 0;
  }

  .expand {
    font-size: 12px;
    color: #c3c3c3;
    padding: 4px 0 0 0;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .active, .inactive {
    padding: 12px 0;
  }

  .list_item, .list_item_open {
    justify-content: space-evenly;
    align-items: center;
    width: calc(70% + 100px);
    padding: 0 0 8px 0;
    margin: auto;
  }

  .list_item_open {
    align-items: flex-start;
  }

  .cocktail_image {
    width: 160px;
    height: 90px;
    padding: 0 0 2px 0;
  }

  .vendor_name {
    font-size: 12px;
  }

  .availability {
    font-size: 10px;
  }

  .order {
    font-size: 10px;
    width: 80%;
  }

  .result_text {
    width: 40%;
    min-height: 115px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 0;
  }

  .cocktail_name {
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .price {
    font-size: 10.5px;
    padding: 0 0 6px 0;
  }

  .ingredients {
    font-size: 11.5px;
    padding: 0 0 4px 0;
  }

  .sale_options {
    height: 50%;
  }

  .description {
    font-size: 11.5px;
    width: 100%;
    padding: 10px 0 6px 0;
  }

  .expand {
    font-size: 12px;
    color: #c3c3c3;
    padding: 4px 0 0 0;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .active, .inactive {
    padding: 12px 0;
  }

  .active {
    background-color: none;
  }

  .list_item {
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9em;
    width: calc(65% + 15vh);
    margin: 6px auto;
  }

  .cocktail_image {
    width: 200px;
    height: 120px;
  }

  .vendor_name {
    font-size: 14px;
  }

  .availability {
    font-size: 12px;
  }

  .result_text {
    width: 44%;
    min-height: 150px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 0;
  }

  .cocktail_name {
    font-size: 20px;
    font-family: 'Lato Regular', sans-serif;
    width: 100%;
    padding: 0 0 2px 0;
    color: #d7d7d7;
  }

  .price {
    font-size: 13px;
    padding: 0 0 14px 0;
  }

  .ingredients {
    font-size: 14px;
    color: #7d7d7d;
    text-align: center;
    padding: 0 0 10px 0;
  }

  .description {
    font-size: 14px;
    width: 100%;
    padding: 10px 0 6px 0;
  }

  .sale_options {
    margin: 14px 0;
    font-size: 14px;
  }

  .order_link {
    font-size: 14px;
    text-align: center;
  }

  .expand {
    font-size: 13px;
    color: #c3c3c3;
    padding: 4px 0 0 0;
  }
}

@media only screen and (min-width: 1224px) {
  .list_item {
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    width: 450px;
    margin: 14px 0;
  }

  .cocktail_image {
    width: 250px;
    height: 150px;
  }

  .cocktail_name {
    font-size: 18px;
    width: 100%;
    padding: 0 0 8px 0;
  }

  .ingredients {
    font-size: 10px;
    text-align: center;
  }

  .sale_options {
    margin: 10px 0;
    font-size: 14px;
  }

  .order_link {
    font-size: 0.8em;
    text-align: center;
  }

  .availability {
    font-size: 0.7em;
    text-align: center;
  }
}
