@import '../../../components/variables.css';

.result_list {
  display: flex;
  overflow: scroll;
}

.list_item {
  font-family: "Lato Regular";
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
}

.bar_image {
  object-fit: cover;
}

.result_text {
  width: 30%;
}

.bar_name {
  font-family: "Lato Regular";
  text-align: center;
  color: white;
}

.ingredients {
  color: #595959;
  text-align: center;
}

.sale_options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  color: #d6d6d6;
}

.order_link {
  text-align: center;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .result_list {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .list_item {
    margin: 8px 0;
    justify-content: space-around;
    width: 100%;
  }

  .bar_image {
    width: 40vw;
    height: 12vh;
  }

  .bar_name {
    font-size: 1.5em;
    width: 100%;
    padding: 0 0 3px 0;
  }

  .ingredients {
    font-size: 8px;
  }

  .sale_options {
    height: 50%;
  }

  .order_link {
    font-size: 10px;
  }

  .availability {
    font-size: 8px;
    text-align: center;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .result_list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
  }

  .list_item {
    justify-content: space-evenly;
    margin: 10px 0;
    width: 45%;
  }

  .bar_image {
    width: 15vw;
    height: 17vh;
  }

  .bar_name {
    font-size: 1.5em;
    width: 100%;
    padding: 0 0 3px 0;
  }

  .ingredients {
    font-size: 8px;
  }

  .sale_options {
    height: 50%;
  }

  .order_link {
    font-size: 10px;
  }

  .availability {
    font-size: 8px;
    text-align: center;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .result_list {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
  }

  .list_item {
    justify-content: space-around;
    align-items: center;
    font-size: 0.9em;
    width: 100%;
    margin: 14px 0;
  }

  .bar_image {
    width: 225px;
    height: 150px;
  }

  .bar_name {
    font-size: 18px;
    width: 100%;
    padding: 0 0 8px 0;
  }

  .ingredients {
    font-size: 10px;
    text-align: center;
  }

  .sale_options {
    margin: 10px 0;
    font-size: 14px;
  }

  .order_link {
    font-size: 0.8em;
    text-align: center;
  }

  .availability {
    font-size: 0.7em;
    text-align: center;
  }
}

@media only screen and (min-width: 1224px) {
  .result_list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
  }

  .list_item {
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    width: 450px;
    margin: 14px 0;
  }

  .bar_image {
    width: 250px;
    height: 150px;
  }

  .bar_name {
    font-size: 18px;
    width: 100%;
    padding: 0 0 8px 0;
  }

  .ingredients {
    font-size: 10px;
    text-align: center;
  }

  .sale_options {
    margin: 10px 0;
    font-size: 14px;
  }

  .order_link {
    font-size: 0.8em;
    text-align: center;
  }

  .availability {
    font-size: 0.7em;
    text-align: center;
  }
}
