.input_field {
  border: 1px solid white;
  border-radius: 3px;
}

::placeholder {
  color: #979797;
}

.input_field:focus::placeholder {
  transition: .08s;
  color: #cbcbcb;
  font-size: 0.9em;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .input_field {
    font-size: .75em;
    margin: 6px;
    padding: 6px 0 6px 8px;
    width: 42%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .input_field {
    font-size: .8em;
    margin: 8px;
    padding: 4px 0 4px 6px;
    width: 40%;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .input_field {
    font-size: 1em;
    margin: 8px;
    padding: 6px 0 6px 8px;
    width: 40%;
  }
}

@media only screen and (min-width: 1224px) {
  .input_field {
    margin: 10px 20px;
    padding: 8px 0 8px 10px;
    width: 220px;
  }

  .small_field {
    width: 80px;
  }

  .medium_field {
    width: 180px;
  }

  .large_field {
    width: 200px;
  }
}
