.field {
  position: relative;
  width: 100%;
}

.input_field {
  border: 1px solid white;
  border-radius: 1px;
  font-size: 14px;
  height: 35px;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  font-family: 'Lato Regular', sans-serif;
  margin: auto;
  font-size: 15px;
  color: #878787;
  left: 5px;
  right: 0;
  top: 33%;
  transition: 0.1s linear;
  will-change: top, left, font-size;
  width: 100%;
  text-align: left;
}

.input_field:focus ~ .placeholder {
  top: 8px;
  left: 5px;
  font-size: 10px;
  opacity: 1;
}

.input_field:not([value='']) ~ .placeholder {
  top: 8px;
  left: 5px;
  font-size: 10px;
  opacity: 1;
}

.input_field:not([value='']):not(:focus):invalid ~ .placeholder {
  top: 8px;
  left: 5px;
  font-size: 10px;
  color: red;
  opacity: 1;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .input_field {
    margin: 5px 0 5px -8px;
    padding: 6px 0 0 8px;
    width: 100%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {

  .input_field {
    margin: 5px 0 5px -8px;
    padding: 6px 0 0 8px;
    width: 100%;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .input_field {
    margin: 5px 0 5px -8px;
    padding: 6px 0 0 8px;
    width: 100%;
  }
}
