@import '../../variables.css';

.container {
  background: rgba(62, 19, 9, 0.97);
  width: 100%;
  text-align: center;
  margin: 3px auto;
  position: static;
  overflow: hidden;
  max-width: 1800px;
}

.logo {
  margin: auto;
  height: 60px;
}

.menu_icon {
  position: absolute;
  right: 22px;
  top: 22px;
}

.menu_icon_large {
  display: none;
}

.shadow_background {
  z-index: 15;
  position: absolute;
  top: 68px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0a0a0a;
  opacity: 0.9;
  transition: 0.5s;
}

.dropdown_menu,
.dropdown_menu_inactive {
  position: fixed;
  height: auto;
  width: 50%;
  box-shadow: #0b0b0b 1px 1px;
  background: linear-gradient(180deg, rgba(28, 28, 28, 1) 0%, rgb(38, 36, 38) 50%, rgb(29, 29, 29) 100%);
  z-index: 20;
  font-family: 'Lato Light', sans-serif;
  color: black;
  text-decoration: none;
  right: 0;
  transition: 0.5s;
  will-change: transform 500ms linear;
}

.dropdown_menu {
  transform: translateX(0);
}

.dropdown_menu_inactive {
  transform: translateX(100%);
}

.menu_link {
  position: relative;
  color: #b0b0b0;
  display: block;
}

.menu_link:hover {
  color: #cdcdcd;
}

.menu_link_text {
  text-align: left;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .dropdown_menu,
  .dropdown_menu_inactive {
    width: 50%;
    top: 70px;
    bottom: 0;
  }

  .menu_link {
    font-size: 18px;
    margin: 30px 20px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .container {
    position: relative;
  }

  .dropdown_menu,
  .dropdown_menu_inactive {
    width: 25%;
    top: 68px;
    bottom: 0;
  }

  .menu_link {
    position: relative;
    margin: 20px;
    display: block;
    font-size: 12px;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .container {
    position: static;
    height: 70px;
    padding: 5px 0;
    margin: 2px auto;
  }

  .logo {
    height: 65px;
  }

  .menu_icon {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .dropdown_menu,
  .dropdown_menu_inactive {
    width: 250px;
    top: 85px;
  }

  .shadow_background {
    top: 85px;
  }

  .menu_link {
    position: relative;
    margin: 30px;
    display: block;
    font-size: 20px;
    font-family: 'Lato Light', sans-serif;
  }
}

@media only screen and (min-width: 1224px) {
  .dropdown_menu,
  .dropdown_menu_inactive {
    width: 250px;
  }

  .menu_icon {
    position: relative;
    float: top;
    z-index: 0;
    margin: -75px 0 0 0;
  }
}
