@import '../../variables.css';

.partner_content {
  text-align: center;
}

.partner_text {
  text-align: center;
  font-family: 'Merriweather Regular';
}

.partner_form {
  position: static;
  margin: auto;
}

.partner_form_fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .partner_content {
    position: static;
    margin: 40px 0 0 0;
  }

  .partner_text {
    margin: 0% 10% 0 10%;
    font-size: 1.5em;
  }

  .partner_form {
    margin-top: 8vh;
  }

  .partner_form_fields {
    margin-bottom: 8vh;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .partner_content {
    position: static;
    margin: 0 0 0 0;
  }

  .partner_text {
    margin: 12% 10% 0 45%;
    font-size: 1.4em;
  }

  .partner_form {
    width: 60%;
    margin-top: 4vh;
    margin-right: 2vw;
  }

  .partner_form_fields {
    margin-bottom: 0;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .partner_content {
    position: static;
    margin: 0 0 0 0;
  }

  .partner_text {
    position: static;
    margin: 10% 5% 0 45%;
    font-size: 2em;
  }

  .partner_form {
    width: 55%;
    margin-top: 7vh;
    margin-right: 3%;
  }

  .partner_form_fields {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1224px) {
  .partner_content {
    position: static;
    margin: 0 0 0 0;
  }

  .partner_text {
    position: static;
    margin: 5% 5% 0 45%;
    font-size: 2.2em;
  }

  .partner_form {
    width: 45%;
    margin-top: 7vh;
    margin-right: 3%;
  }

  .partner_form_fields {
    margin-bottom: 50px;
  }
}
