@import '../../variables.css';

.partner_content {
  text-align: center;
}

.partner_text {
  text-align: center;
  font-family: 'Merriweather Regular';
}

.partner_form_fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.form_status {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  position: static;
  margin: 0 auto;
}

.status_item {
  display: flex;
  flex-direction: column;
  max-width: 23%;
  height: auto;
  cursor: pointer;
}

.active_status_item {
  display: flex;
  flex-direction: column;
  max-width: 23%;
  height: auto;
}

.status_bar {
  width: auto;
  margin: 3px 0;
  height: 1px;
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  position: static;
  justify-content: space-evenly;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .partner_content {
    position: static;
    margin: 2vh 0 0 0;
  }

  .partner_text {
    margin: 10% 8% 0 8%;
    font-size: 1.5em;
  }

  .partner_form {
    margin-top: 4vh;
  }

  .form_area {
    height: 110px;
  }

  .partner_form_fields {
    margin: 0 auto 0 auto;
    width: 90%;
  }

  .form_status {
    margin: 10vh auto 3vh auto;
  }
  .status_indicator {
    font-size: 0.75em;
  }

}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .partner_content {
    width: 55%;
    margin: 8% 0 0 45%;
    position: static;
  }

  .partner_text {
    font-size: 1.4em;
  }

  .partner_form {
    margin-top: 4vh;
  }

  .form_area {
    height: 160px;
  }

  .partner_form_fields {
    margin-bottom: 3vh;
  }

  .form_status {
    margin-bottom: 1.5vh
  }

  .status_indicator {
    font-size: 0.75em;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .partner_content {
    width: 60%;
    position: static;
    margin: 14% 0 0 40%;
  }

  .partner_text {
    position: static;
    width: 85%;
    margin: auto;
    font-size: 2.3em;
  }

  .partner_form {
    margin: 8vh auto 0 auto;
  }

  .form_status {
    margin-bottom: 1.5vh
  }

  .status_indicator {
    font-size: 1em;
  }

}

@media only screen and (min-width: 1224px) {
  .partner_content {
    width: 60%;
    position: static;
    margin: 5% 0 0 40%;
  }

  .partner_text {
    position: static;
    margin: auto;
    width: 85%;
    font-size: 2.3em;
  }

  .partner_form {
    margin-top: 7vh;
    margin-right: 3%;
  }

  .partner_form_fields {
    margin-bottom: 50px;
  }

  .buttons {
    justify-content: space-evenly;
    margin: auto auto;
    width: 60%;
  }
}
