.box {
  background-color: #121212;
  opacity: 0.98;
  z-index: 5;
  overflow: scroll;
  overflow-x: hidden;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 66px;
    bottom: 0;
  }

  .box {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    opacity: 0.95;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 55px;
    bottom: 0;
    right: 0;
  }

  .box {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0.95;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .content {
    position: absolute;
    width: 100%;
    height: calc(100% - 85px);
    top: 85px; /* This value is determined by the header */
    bottom: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image: url('../../../../public/LevitationAspect.JPG');
    background-size: cover;
    background-position: calc(50% - 100px) 100%;
  }

  .box {
    position: absolute;
    width: calc(300px + 30%);
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: 0.95;
  }

}

@media only screen and (min-width: 1224px) {
  .content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 85px; /* This value is determined by the header */
    bottom: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image: url('../../../../public/LevitationAspect.JPG');
    background-size: cover;
    background-position: calc(50% - 220px) 100%;
  }

  .box {
    position: absolute;
    width: calc(370px + 40%);
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: 0.95;
  }
}
