.homepage_content {
  position: static;
  width: 100%;
  height: 100%;
}

.action_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  z-index: 10;
  text-align: center;
}

.header_text {
  font-family: "Plantin Bold", serif;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header_one {
  text-align: right;
  margin: 0 20px 0 0;
}

.header_two {
  position: absolute;
  text-align: right;
  right: 40px;
  margin: 20px 0 0 0;
}

.action_item {
  width: 80%;
  position: static;
  text-align: center;
}

.explainer {
  color: #e6e6e6;
  font-family: "Lato Light", sans-serif;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .action_content {
    width: 100%;
    height: auto;
    top: 42vh;
    bottom: 3vh;
    justify-content: space-around;
  }

  .header_text {
    min-height: 100px;
    font-size: 30px;
    top: -45%;
  }

  .explainer {
    font-size: 17px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .action_content {
    justify-content: space-between;
    height: 62vh;
    width: 40vw;
    margin: 10vh 0 0 55vw;
  }

  .header_text {
    position: absolute;
    top: 10vh;
    left: -125%;
    width: 85%;
    font-size: 22px;
  }

  .header_one {
    text-align: left;
    margin: 0;
  }

  .header_two {
    text-align: left;
    width: 100%;
    right: inherit;
  }

  .explainer {
    font-size: 12px;
  }
}

@media only screen and (min-height: 600px) and (min-width: 768px) {
  .action_content {
    justify-content: flex-end;
    height: auto;
    width: calc(600px);
    top: 25%;
    bottom: 10%;
    right: 0;
    margin: 0 0 0 0;
  }

  .header_text {;
    position: relative;
    text-align: right;
    top: 8%;
    left: -7vw;
    right: 0;
    margin-bottom: 6vh;
    width: 90%;
    font-size: calc(12px + 1.8vw + 1.9vh);
  }

  .header_one {
    text-align: right;
    margin: 0;
  }

  .header_two {
    position: relative;
    text-align: right;
    right: 0;
    margin: 3vh 0 0 0;
  }

  .action_item {
    margin: 6vh 0 2vh 0;
  }

  .explainer {
    font-size: 17px;
    margin: 0 0 2px 0;
  }
}

@media only screen and (min-width: 1224px) {
  .homepage_content {
    max-width: 1800px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .action_content {
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    width: 750px;
    margin: 0;
    float: right;
  }

  .header_text {
    position: relative;
    text-align: right;
    top: 10%;
    right: 0;
    width: 100%;
    font-size: 4.7vh;
  }

  .action_item {
    margin: 200px 0 -100px 0;
  }

  .explainer {
    font-size: 22px;
    color: #e2e2e2;
  }
}
