.homepage_content {
  position: static;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.action_content {
  display: flex;
  flex-direction: column;
  position: static;
  align-items: center;
  z-index: 10;
  text-align: center;
}

.header_text {
  font-family: 'Plantin Bold', serif;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header_one {
  text-align: right;
  margin: 0 20px 0 0;
}

.header_two {
  position: absolute;
  text-align: right;
  right: 40px;
  margin: 20px 0 0 0;
}

.action_item {
  width: 80%;
  position: relative;
  text-align: center;
}

.explainer {
  color: #e6e6e6;
  font-family: 'Lato Light', sans-serif;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .homepage_splash {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .action_content {
    width: 100%;
    max-width: 500px;
    height: auto;
    overflow-y: auto;
    justify-content: space-around;
    margin: 4vh auto;
  }

  .header_text {
    top: calc(5vh + 14vw + 10px);
    font-size: calc(14px + 1vh + 4.1vw);
  }

  .action_item {
    margin: 3vh 0;
  }

  .explainer {
    font-size: 17px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .homepage_splash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 55px;
    width: 100%;
    height: calc(100% - 55px);
    object-fit: cover;
  }

  .action_content {
    justify-content: space-between;
    height: calc(150px + 10vh);
    width: calc(250px);
    margin: 14vh 0 0 calc(75vw - 120px);
  }

  .header_text {
    position: absolute;
    top: calc(30px + 30vh);
    left: calc(20px + 2vw);
    width: calc(200px + 10vw);
    font-size: calc(16px + 1vw);
  }

  .header_one {
    text-align: left;
    margin: 0;
  }

  .header_two {
    text-align: left;
    width: 100%;
    right: inherit;
  }

  .action_item {
    width: 100%;
  }

  .explainer {
    font-size: calc(12px + 1vh);
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .homepage_splash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 85px;
    width: 100%;
    height: calc(100% - 85px);
    object-fit: cover;
  }

  .action_content {
    position: absolute;
    justify-content: flex-end;
    max-width: 500px;
    width: 100%;
    bottom: calc(20vh - 90px);
    right: 0;
    margin: 0 0 0 0;
  }

  .header_text {
    position: absolute;
    text-align: right;
    top: calc(45vh - 120px);
    left: calc(55vw - 20vh);
    right: 5vw;
    width: auto;
    font-size: calc(26px + 2.15vh + 1.15vw);
  }

  .header_one {
    text-align: right;
    margin: 0;
  }

  .header_two {
    position: relative;
    text-align: right;
    right: 0;
    margin: 3vh 0 0 0;
  }

  .action_item {
    margin: 4vh auto 2vh auto;
    width: 100%;
  }

  .explainer {
    font-size: 17px;
    margin: 0 0 2px 0;
  }
}

@media only screen and (min-width: 1224px) {
  .homepage_splash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 85px;
    width: 100%;
    height: calc(100% - 85px);
    object-fit: cover;
  }

  .homepage_content {
    left: 0;
    right: 0;
    margin: auto;
  }

  .action_content {
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    width: 750px;
    margin: 0;
    float: right;
  }

  .header_text {
    position: relative;
    text-align: right;
    top: 10%;
    right: 0;
    width: 100%;
    font-size: 4.7vh;
  }

  .action_item {
    margin: 200px 0 -100px 0;
  }

  .explainer {
    font-size: 22px;
    color: #e2e2e2;
  }
}
