.splash_box {
  position: relative;
  text-align: center;
  width: 100%;
}

.homepage_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .splash_box {
    position: absolute;
    height: auto;
    width: auto;
    top: 70px;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .splash_box {
    position: absolute;
    top: 85px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1224px) {
  .splash_box {
    position: absolute;
    top: 85px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .homepage_image {
    object-fit: cover;
    width: 100%;
    max-width: 1800px;
    height: 100%;
  }
}
