.buttons {
  display: flex;
  flex-direction: row;
  position: static;
  justify-content: space-evenly;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .buttons {
    margin-top: 10vh;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .buttons {
    margin: 20vh 0 0 0;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .buttons {
    width: 95%;
    margin: 15vh auto 0 auto;
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1224px) {
  .buttons {
    margin-top: 200px;
    font-size: .9em;
    width: 80%;
  }
}
