.splash_box {
  position: relative;
  text-align: center;
  width: 100%;
}

.homepage_image {
  width: 100%;
}

.explainer_text {
  font-family: "Plantin Bold";
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .explainer_text {
    min-height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 30px;
  }

}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .splash_box {
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .explainer_text {
    position: absolute;
    top: 22vh;
    left: 20px;
    width: auto;
    transform: translate(0, 0);
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) {
  .splash_box {
    position: absolute;
    text-align: center;
    height: 91vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .homepage_image {
    object-fit: cover;
    overflow: hidden;
    width: auto;

  }

  .explainer_text {
    position: absolute;
    min-height: 100px;
    top: 16vh;
    left: auto;
    right: 20px;
    width: auto;
    transform: translate(0, 0);
    font-size: 6.5vh;
  }
}

@media only screen and (min-width: 1224px) {
  .splash_box {
    position: absolute;
    text-align: center;
    height: 91vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .homepage_image {
    object-fit: cover;
    width: fill;
    height: fill;
  }

  .explainer_text {
    position: absolute;
    top: 12vh;
    left: auto;
    right: 20px;
    width: 800px;
    font-size: 6.5vh;
  }
}
