.homepage_content {
  position: static;
  width: 100%;
  height: 100%;
}

.action_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  z-index: 10;
  text-align: center;
}

.action_item {
  width: 100%;
  position: static;
  text-align: center;
}

.explainer {
  color: #adadad;
  font-family: "Lato Regular";
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .action_content {
    width: 100%;
    height: auto;
    top: 45vh;
    bottom: 10vh;
    justify-content: space-around;
  }

  .explainer {
    font-size: 12px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .action_content {
    justify-content: space-between;
    height: 62vh;
    width: 40vw;
    margin: 10vh 0 0 55vw;
  }

  .explainer {
    font-size: 12px;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .action_content {
    justify-content: space-between;
    height: 30vh;
    width: 55%;
    top: 52vh;
    right: 20px;
    margin: 0 0 0 0;
  }

  .explainer {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1224px) {
  .action_content {
    justify-content: space-between;
    height: 30vh;
    width: 800px;
    right: 4vw;
  }

  .explainer {
    font-size: 22px;
    color: #e2e2e2;
  }
}
