.homepage_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  height: 50vh;
}

.finder_content {
  width: 100%;
  position: static;
  text-align: center;
}

.explainer {
  color: #adadad;
  font-family: "Lato Regular";
}

.partner_content {
  position: static;
  text-align: center;
  width: 100%;
}

@media only screen and (orientation: portrait) and (min-width: 320px) {
  .homepage_content {
    width: 100%;
  }

  .explainer {
    font-size: 12px;
  }

  .partner_content {
    margin: 0 0 0 0;
  }
}

@media only screen and (orientation: landscape) and (min-width: 320px) {
  .homepage_content {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 62vh;
    margin: 10vh 0 0 55vw;
  }

  .explainer {
    font-size: 12px;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .homepage_content {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 26vh;
    width: 55%;
    margin: 48vh 0 0 45vw;
  }

  .explainer {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1224px) {
  .homepage_content {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 30vh;
    width: 800px;
    margin: 45vh 0 0 0;
    right: 10px;
  }

  .explainer {
    font-size: 15px;
  }
}
