@import '../../../components/variables.css';

.filter_settings {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  background-color: #121212;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.availability_settings, .fulfillment_settings, .cocktails_settings {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-family: "Lato Light", sans-serif;
  color: #b4b4b4;
  text-align: center;
}

.cocktail_button_label {
  font-family: "Lato Regular", sans-serif;
  margin: auto;
  text-align: center;
}

.button_explainer {
  font-family: "Lato Regular", sans-serif;
  color: #9b9b9b;
  text-align: center;
}

.cocktails_tooltip, .fulfillment_tooltip, .availability_tooltip {
  font-family: "Lato Light", sans-serif;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  color: #737373;
  border-bottom: 1px dotted #afafaf;
}

.tooltip_note {
  font-family: "Lato Regular", sans-serif;
}

.cocktails_tooltip:hover .setting_explainer {
  display: block;
}

.cocktails_tooltip {
  z-index: 20;
}

.fulfillment_tooltip:hover .setting_explainer {
  display: block;
}

.fulfillment_tooltip {
  z-index: 19;
}

.availability_tooltip:hover .setting_explainer {
  display: block;
}

.availability_tooltip {
  z-index: 18;
}

.setting_explainer {
  position: absolute;
  display: none;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 6px;
  color: black;
}

.setting_status {
  color: #9b9b9b;
  font-family: "Lato Light", sans-serif;
  text-align: center;
}

.icon_active, .icon_inactive {
  padding: 17px;
  border: solid 1px;
  border-radius: 4px;
  transition: 0.25s;
}

.icon_active {
  color: white;
  background-color: #251e1f;
}

.icon_inactive {
  color: #555555;
}

.radius {
  width: 55px;
  font-size: 14px;
}

.price {
  width: 75px;
  font-size: 14px;
}

.close {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "Lato Light", sans-serif;
  color: #b4b4b4;
}

@media only screen and (min-width: 320px) and (orientation: portrait) {
  .settings {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .availability_settings, .fulfillment_settings, .cocktails_settings{
    width: 100%;
    font-size: 8px;
    margin: 5px 0 0 0;
  }

  .title {
    font-size: 18px;
    padding: 0 0 6px 0;
  }

  .availability, .cocktails, .fulfillment {
    width: 100%;
    margin: 15px 0 35px 0;
  }

  .setting_status {
    font-size: 12px;
    padding: 13px 0 0 0;
    width: 90%;
    margin: auto;
  }

  .cocktail_button_label {
    font-size: 12px;
    width: 50px;
    padding: 0 0 2px 0;
  }

  .button_explainer {
    font-size: 10px;
    width: 40px;
    margin: 2px auto;
  }

  .cocktails_tooltip, .fulfillment_tooltip, .availability_tooltip {
    font-size: 11px;
    padding: 12px 0 5px 0;
  }

  .setting_explainer {
    width: 220px;
    padding: 12px;
    font-size: 13px;
    top: 40px;
    left: -35%;
  }

  .close {
    margin: 15px 0 50px 0;
  }
}

@media only screen and (min-width: 320px) and (orientation: landscape) {
  .settings {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .availability_settings, .fulfillment_settings, .cocktails_settings{
    width: 100%;
    font-size: 8px;
    margin: 5px 0 0 0;
  }

  .title {
    font-size: 18px;
    padding: 0 0 6px 0;
  }

  .cocktails {
    width: calc(50vw + 100px);
    margin: 15px 0 35px 0;
  }

  .fulfillment {
    width: 50%;
    margin: 15px 0 35px 0;
  }

  .availability {
    width: 60%;
    margin: 15px 0 35px 0;
  }

  .setting_status {
    font-size: 12px;
    padding: 13px 0 0 0;
    width: 90%;
    margin: auto;
  }

  .cocktail_button_label {
    font-size: 12px;
    width: 50px;
    padding: 0 0 2px 0;
  }

  .button_explainer {
    font-size: 10px;
    width: 40px;
    margin: 2px auto;
  }

  .cocktails_tooltip, .fulfillment_tooltip, .availability_tooltip {
    font-size: 11px;
    padding: 12px 0 5px 0;
  }

  .setting_explainer {
    width: 220px;
    padding: 12px;
    font-size: 13px;
    top: 40px;
    left: -35%;
  }

  .close {
    margin: 15px 0 50px 0;
  }
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .settings {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .title {
    font-size: 22px;
    padding: 0 0 14px 0;
  }

  .cocktails, .fulfillment, .availability {
    margin: calc(20px + .6vh) 0 calc(40px + 2vh) 0;
  }

  .availability_settings, .fulfillment_settings, .cocktails_settings{
    width: 100%;
    font-size: 8px;
    margin: 0.5vh 0 0.5vh 0;
  }

  .cocktails {
    width: 80%;
  }

  .fulfillment {
    width: 85%;
  }

  .availability {
    width: 80%;
  }

  .setting_status {
    font-size: 15px;
    padding: calc(8px + 0.5vh) 0 0 0;
    width: 90%;
    margin: auto;
  }

  .cocktail_button_label {
    font-size: 12px;
    width: 50px;
    padding: 0 0 4px 0;
  }

  .button_explainer {
    font-size: 11px;
    width: 40px;
    margin: 2px auto;
  }

  .cocktails_tooltip, .fulfillment_tooltip, .availability_tooltip {
    font-size: 11px;
    padding: 1.5vh 0 0.3vh 0;
  }

  .setting_explainer {
    width: 300px;
    padding: 14px;
    font-size: 14px;
    top: 40px;
    left: -55%;
  }

  .icon_active, .icon_inactive {
    font-size: calc(8px + 0.5vh);
  }

  .radius {
    width: 70px;
    height: 25px;
    padding: 0 4px;
    font-size: 14px;
  }

  .price {
    width: 85px;
    height: 25px;
    padding: 0 4px;
    font-size: 14px;
  }

  .close {
    margin: 45px 0 50px 0;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1224px) {
  .title {
    font-size: calc(18px + .5vw);
    padding: 0 0 14px 0;
  }

  .cocktails {
    width: calc(300px + 20vw);
    margin: calc(20px + 3vh) 0;
  }

  .fulfillment {
    width: calc(250px + 18vw);
    margin: calc(20px + 3vh) 0;
  }

  .availability {
    width: calc(200px + 25vw);
    margin: calc(20px + 3vh) 0;
  }

  .setting_status {
    font-size: 16px;
  }

  .icon_active, .icon_inactive {
    font-size: calc(6px + 0.7vh);
  }

  .cocktails_tooltip, .fulfillment_tooltip, .availability_tooltip {
    font-size: 12px;
    padding: 1.5vh 0 0.3vh 0;
  }
}
