@import '../../../components/variables.css';

.filter_settings {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #121212;
}

.close {
  position: absolute;
  left: 25px;
  top: 25px;
}

.explainer {
  font-family: "Lato Light", sans-serif;
  color: grey;
  position: absolute;
  top: 66px;
  text-align: center;
  width: 100%;
  font-size: 16px;
}

.settings {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-family: "Lato Light", sans-serif;
  color: #b4b4b4;
  text-align: center;
  font-size: 18px;
  padding: 0 0 10px 0;
}

.availability {
  width: 100%;
}

.ordering {
  width: 100%;
}

.cocktails {
  width: 100%;
}

.cocktail_button_label {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  width: 50px;
  margin: auto;
  text-align: center;
  padding: 0 0 2px 0;
}

.button_explainer {
  font-family: "Lato Regular", sans-serif;
  color: #9b9b9b;
  font-size: 10px;
  width: 40px;
  text-align: center;
  margin: auto;
}

.availability_settings, .ordering_settings, .cocktails_settings {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 8px;
}

.ordering_settings {
  font-size: 12px;
}

.setting_message {
  color: #9b9b9b;
  font-family: "Lato Light", sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 15px 0 0 0;
  width: 90%;
  margin: auto;
}

.icon_active, .icon_inactive {
  padding: 17px;
  border: solid 1px;
  border-radius: 4px;
  transition: 0.25s;
}

.icon_active {
  color: white;
  background-color: #251e1f;
}

.icon_inactive {
  color: #555555;
}

.radius {
  width: 55px;
  font-size: 14px;
}

.price {
  width: 75px;
  font-size: 14px;
}

@media only screen and (min-height: 500px) and (min-width: 768px) {
  .filter_settings {
    width: 60%;
    top: 0;
    bottom: 0;
    right: 0;
    left: initial;
    overflow-y: scroll;
  }

  .explainer {
    top: 100px;
    font-size:22px;
  }

  .settings {
    justify-content: flex-start;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .title {
    padding: 0 0 15px 0;
  }

  .availability_settings, .ordering_settings {
    padding: 10px 0;
  }

  .cocktail_button_label {
    font-size: 14px;
    width: 60px;
  }

  .button_explainer {
    font-size: 12px;
    width: 50px;
  }

  .setting_message {
    font-size: 14px;
    width: 60%;
  }

  .radius {
    width: 75px;
    font-size: 14px;
  }

  .price {
    width: 95px;
    font-size: 14px;
  }
}
